// Note:
// You should ONLY define variables in this file.
// Since palette.styl will be imported at the end
// of the root Stylus config file, as a config,
// several files will use it, so once you wrote
// styles here, your style would be duplicated by
// multiple times.
//
// Note:
// There are some predefined variables you can tweak:

// // colors
// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961
//
// // layout
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px
//
// // responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px
//
// custom:
$minWidth = 92%
